<a href="https://colab.research.google.com/github/NayloEze/Data-Types-List-and-Sets/blob/main/Data_Preprocessing_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing

Attached to this notebook is a dataset.

1. Import the dataset into your notebook, print out the first 10 rows, check the statistical and general information

In [19]:
#importing csv files from a local drive.
from google.colab import files
uploaded = files.upload()

Saving hepatitis.csv to hepatitis (1).csv

In [20]:
#import packages 
import pandas as pd
import numpy as np
import csv

In [21]:
#print first 10 rows
df = pd.read_csv("hepatitis.csv")
df.head(10)

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live
5   34  female    True       False  ...     4.0    75.0     False  live
6   51  female   False       False  ...     NaN     NaN     False   die
7   23  female    True       False  ...     NaN     NaN     False  live
8   39  female    True       False  ...     4.4     NaN     False  live
9   30  female    True       False  ...     3.9     NaN     False  live

[10 rows x 20 columns]

In [22]:
#prints general information on the datasets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              155 non-null    int64
 1   sex              155 non-null    object
 2   steroid          154 non-null    object
 3   antivirals       155 non-null    bool
 4   fatigue          154 non-null    object
 5   malaise          154 non-null    object
 6   anorexia         154 non-null    object
 7   liver_big        145 non-null    object
 8   liver_firm       144 non-null    object
 9   spleen_palpable  150 non-null    object
 10  spiders          150 non-null    object
 11  ascites          150 non-null    object
 12  varices          150 non-null    object
 13  bilirubin        149 non-null    float64
 14  alk_phosphate    126 non-null    float64
 15  sgot             151 non-null    float64
 16  albumin          139 non-null    float64
 17  protime          88 non-null     float64
 18  histology        155 non-null    bool
 19  class            155 non-null    object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 22.2+ KB

In [23]:
#prints statistical information of the dataset
df.describe()

              age   bilirubin  alk_phosphate       sgot     albumin     protime
count  155.000000  149.000000     126.000000  151.00000  139.000000   88.000000
mean    41.200000    1.427517     105.325397   85.89404    3.817266   61.852273
std     12.565878    1.212149      51.508109   89.65089    0.651523   22.875244
min      7.000000    0.300000      26.000000   14.00000    2.100000    0.000000
25%     32.000000    0.700000      74.250000   31.50000    3.400000   46.000000
50%     39.000000    1.000000      85.000000   58.00000    4.000000   61.000000
75%     50.000000    1.500000     132.250000  100.50000    4.200000   76.250000
max     78.000000    8.000000     295.000000  648.00000    6.400000  100.000000

2. Check for the sum of the missing values and the percentage of missing values.

In [24]:
#check for sum of missing values in dataset
df_missing = df.isnull().sum()
print(df_missing)

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [25]:
len(df)
print(df.shape)

(155, 20)

In [26]:
#calculate percentage of missing values 
df_missing/len(df)

age                0.000000
sex                0.000000
steroid            0.006452
antivirals         0.000000
fatigue            0.006452
malaise            0.006452
anorexia           0.006452
liver_big          0.064516
liver_firm         0.070968
spleen_palpable    0.032258
spiders            0.032258
ascites            0.032258
varices            0.032258
bilirubin          0.038710
alk_phosphate      0.187097
sgot               0.025806
albumin            0.103226
protime            0.432258
histology          0.000000
class              0.000000
dtype: float64

3. Choose one option: Drop the columns with missing values or fill the columns with missing values. Give your reasons.

In [27]:
to_drop = ["liver_big","liver_big","liver_firm",      
           "spleen_palpable","spiders","ascites","varices",            
           "bilirubin","alk_phosphate","sgot","albumin","protime"]
df.drop(to_drop,inplace = True, axis = 1)

#dropping these columns and working with columns that contain hepatitis symptoms as they are a better factor in predicting the outcome of a patient living or dying.

In [28]:
df.head(10)

   age     sex steroid  antivirals fatigue malaise anorexia  histology class
0   30    male   False       False   False   False    False      False  live
1   50  female   False       False    True   False    False      False  live
2   78  female    True       False    True   False    False      False  live
3   31  female     NaN        True   False   False    False      False  live
4   34  female    True       False   False   False    False      False  live
5   34  female    True       False   False   False    False      False  live
6   51  female   False       False    True   False     True      False   die
7   23  female    True       False   False   False    False      False  live
8   39  female    True       False    True   False    False      False  live
9   30  female    True       False   False   False    False      False  live

4. Choose a column and rename it. Give your reasons for picking that column

In [29]:
#Renaming column "class" to "end result" as the values contained in the column is dependent on the other variables (columns)
df.rename(columns={"class": "end result"}, inplace=True)
df.head(10)

   age     sex steroid  antivirals  ... malaise anorexia histology  end result
0   30    male   False       False  ...   False    False     False        live
1   50  female   False       False  ...   False    False     False        live
2   78  female    True       False  ...   False    False     False        live
3   31  female     NaN        True  ...   False    False     False        live
4   34  female    True       False  ...   False    False     False        live
5   34  female    True       False  ...   False    False     False        live
6   51  female   False       False  ...   False     True     False         die
7   23  female    True       False  ...   False    False     False        live
8   39  female    True       False  ...   False    False     False        live
9   30  female    True       False  ...   False    False     False        live

[10 rows x 9 columns]

5. Check the number of missing values after cleaning and state the impact on data analysis.

In [30]:
print(" \nCount total NaN in a DataFrame : \n\n",
       df.isnull().sum())


#Dataset has lesser missing values and even if we fill those using the filling method, the skewing will be a lot. The likelihood of the analysis predicting a cirrect outcome is higher.

Count total NaN in a DataFrame :

 age           0
sex           0
steroid       1
antivirals    0
fatigue       1
malaise       1
anorexia      1
histology     0
end result    0
dtype: int64