<a href="https://colab.research.google.com/github/NayloEze/Data-Types-List-and-Sets/blob/main/Dictionaries_and_Conditionals_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.

A triangle can be classified based on the lengths of its sides as equilateral, isosceles or
scalene. All three sides of an equilateral triangle have the same length. An isosceles
triangle has two sides that are the same length, and a third side that is a different
length. If all of the sides have different lengths then the triangle is scalene.
Write a program that reads the lengths of the three sides of a triangle from the
user. Then display a message that states the triangleâ€™s type.

In [10]:
a = int(input("Enter the length of side a: "))
b = int(input("Enter the length of side b: "))
c = int(input("Enter the length of side c: "))

if a == b and b == c:
  print("Equilateral Triangle")

elif a == b or b == c or c == a:
  print("Isosceles Triangle")

else:
  print("Scalene Triangle")

Enter the length of side a: 5
Enter the length of side b: 4
Enter the length of side c: 3
Scalene Triangle

## 2.

Create a dictionary, then write a code to check whether a given key already exists in the dictionary

In [11]:
favourites = {"phone" : "iPhone", "tv": "Samsung", "watch" : "fitbit", "laptop" : "acer" }
if "watch"  in favourites:
   print("My favourite health tracking watch is a fitbit")

My favourite health tracking watch is a fitbit

## 3.

Create a dictionary, then write a Python program to remove a key from the dictionary.

In [12]:
kdramas = {"First ever" : "BOF","Most Watched" : "Kill Me Heal Me","Last Seen" : "Lovers in the Red Sky"}
kdramas.pop("First ever")
print(kdramas)

{'Most Watched': 'Kill Me Heal Me', 'Last Seen': 'Lovers in the Red Sky'}

## 4.

Create a dictionary that contains Name, Location, Gender, Age as keys, then write a code that changes "Location" to "City".

In [28]:
about_naylo = {"name" : "Chinelo", 
               "location" : "Canada",
               "gender" : "Female ",
               "age" : 35 }

In [29]:
new_key = "city"
old_key = "location"
about_naylo[new_key] = about_naylo.pop(old_key)

print(about_naylo)

{'name': 'Chinelo', 'gender': 'Female ', 'age': 35, 'city': 'Canada'}

In [31]:
about_naylo = {"name" : "Chinelo", 
               "location" : "Canada",
               "gender" : "Female ",
               "age" : 35 }


x = about_naylo.pop("location")
print("city:", x) 
print(about_naylo)

city: Canada
{'name': 'Chinelo', 'gender': 'Female ', 'age': 35}

## 5.

details = {
     'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22},
     'person2': {'name': 'Tosin', 'salary': 8000, 'age': 25},
     'person3': {'name': 'Promise', 'salary': 6500, 'age': 28}
}

Write a code that changes Tosin's salary to 9000

In [16]:
details = { 'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22}, 'person2': {'name': 'Tosin', 'salary': 8000, 'age': 25}, 'person3': {'name': 'Promise', 'salary': 6500, 'age': 28} }
details["person2"]["salary"] = 9000

print(details)

{'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22}, 'person2': {'name': 'Tosin', 'salary': 9000, 'age': 25}, 'person3': {'name': 'Promise', 'salary': 6500, 'age': 28}}

## 6.

A month can last between 28 to 31 days. Write a code that reads the name of a month as a string from the user. The number of days in that month should then be shown by your output. Display "28 or 29 days" for February to account for leap years.

In [18]:
month  = input("Enter Month: ")
if month == "January":
 print("31 days")
if month == "Febuary":
 print("28 or 29 days")
if month == "March":
 print("31 days")
if month == "April":
 print("30 days")
if month == "May":
 print("31 days")
if month == "June":
 print("30 days")
if month == "July":
 print("31 days")
if month == "August":
 print("31 days")
if month == "September":
 print("30 days")
if month == "October":
 print("31 days")
if month == "November":
 print("30 days")
if month == "December":
 print("31 days")

Enter Month: June
30 days

7.
Write an if statement that asks for the user's name via input() function. If the name is "James" make it print "Welcome on board, James." Otherwise make it print an appropriate error message of your choice.

Make sure you use the string formatting method.

In [19]:
name = input("Enter Name: ")

if name == "James":
  print("Welcome on board, {}.".format(name))
else:
  print("Not you {}. ".format(name))

Enter Name: James
Welcome on board, James.

## 8. 

Write a code that prompts the user to input a number, and then returns "True" if number is divisible by 3, and "False" if otherwise.

In [20]:
num_3 = int(input("Enter a number: "))

if num_3 % 3 == 0:
  print("True")
else:
  print("False")

Enter a number: 7
False

9.
A school has following rules for grading system:

Below 40 - F
41 to 45 - E
45 to 49 - D
50 to 60 - C
60 to 69 - B
70 and above - A
Write a code that asks the user to enter his mark and then prints out the corresponding grade.

In [25]:
grade = int(input("Enter Grade: "))

if grade >= 70:
 print("A")
elif grade >= 60:
  print("B")
elif grade >= 50:
  print("C")
elif grade >= 45:
  print("D")
elif grade >= 40:
  print("E")
else:
  print("F")

Enter Grade: 99
A

## 10. 

A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Write a code that asks the user to input their salary and years of service and then prints the net bonus amount.

Use string format method

In [32]:
salary = int(input("Enter Salary: "))
service_years = int(input("Enter Years of Service: "))

net_bonus = salary + (0.05 * salary)
if service_years >= 5:
  print("Your Net Bonus is {} ".format(net_bonus))
else:
  print("You do not qualify because your years of service is less than 5.")

Enter Salary: 10000
Enter Years of Service: 5
Your Net Bonus is 10500.0