<a href="https://colab.research.google.com/github/NayloEze/Data-Types-List-and-Sets/blob/main/Kadatemy_Assignment_Chinelo_(October_16th).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 


x = 16 - 2 * 5 // 3 + 1


y = 2 ** 3 * 3

what is x?
what is y?

Describe the order that the computation occurred in each case. i.e which happened first, followed by which one, etc.

In [5]:
x = 16 - 2 * 5 // 3 + 1
print(x)
#Multiplication came first (2*3)
#Floor divison second (10//3)
#Subtraction third (16-3)
#Addition fourth (13+1)

14

In [6]:
y = 2 ** 3 * 3
print(y)
#Raised Power (2**3)
#Multiplication (8*3)

24

## 2. 
Add parenthesis to the expression 6 * 1 - 2 to change the resulting value from 4 to -6.

In [7]:
a = 6 * 1 - 2 
a2 = 6 * (1 - 2) 
print(a)
print(a2)

4
-6

## 3. 
Compute the area of a circle with radius 7, stored into a variable called area. 
Print a nice message with the answer.

Note- Search for the formula to calculate area of a circle.

In [46]:
#Area of Circle = πr2 where π is 3.14
area = 3.14 * 7 ** 2
print(area)

153.86

In [9]:
area2 = str(area)
print(area2)

153.86

In [10]:
message = "From the calculation above, you can see that the circle has a large area of " + area2
print(message)

From the calculation above, you can see that the circle has a large area of 153.86

## 4. 
Write an expression to check to if a number 3, stored in a variable x, is between 0 and 5.

In [11]:
x = 3
if x > 0 and x < 5:
 print("x is between 0 and 5")

x is between 0 and 5

## 5. 

Variables x and y refer to Boolean values.


a. Write an expression that produces True if both variables are True.

b. Write an expression that produces True if at least one of the variables
is True.

c. write an expression that inverses the result of 5a above.

In [2]:
 height  = 165

 short_height = height > 150 and height < 180
 short_height

True

In [3]:
short_height = height > 150 or height > 180
short_height

True

In [4]:
short_height = not (height > 150 and height < 180)
short_height

False

## 6.
Create a list that contains floats and integers, and write a code to sum all the items in the list.

In [12]:
scores = [70, 80, 99.9, 67, 58.5, 30, 100]

total_scores = sum(scores)
total_scores

505.4

## 7.
list1 = [3, 5, 1, 3, 9, 5, 7] 

Write a code to sort this list in increasing order.

In [13]:
list1 = [3, 5, 1, 3, 9, 5, 7]
list1.sort()
list1

[1, 3, 3, 5, 5, 7, 9]

## 8.

list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]

Write a code to count how many times 2 occured in the list

In [14]:
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, 2, 9, 0, 5, 2, 1, 2, 4, 2]
x = list2.count(2)
x

5

## 9.
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22)], 100, 85.5, 12.4, "Promise", ("11", 90)]

Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

NB: Make sure your output contains % sign

In [15]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]

list3[3][1]

'Faith'

In [16]:
list3[3][2][1][0]

'Chinelo'

In [17]:
list3[5]

85.5

In [18]:
list3[4]

100

In [19]:
list3[8][1]

90

In [20]:
type(list3[8][1])

int

In [22]:
result_assignment = list3[3][2][1][0] + " couldn't score " + str(list3[4]) + "%, she got "  +  str(list3[8][1]) + "%, however," + list3[3][1] + " is a close second with " + str(list3[5] )+ "%."
print(result_assignment)

Chinelo couldn't score 100%, she got 90%, however,Faith is a close second with 85.5%.

## 10.

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that removes any of these names and replaces it with your name in that particular index

In [23]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4[0] = "Chinelo"
print(list4)

['Chinelo', 'Ebuka', 'Rose', 'Hassan', 'Bisi']

## 11. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that prints out the index positon of the name "Rose"

In [28]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
x = list4.index("Rose")
print(x)

2

## 12. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that adds your name to this list of names

In [29]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.append("Chinelo")
print(list4)

['Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi', 'Chinelo']

## 13.
sets = {3, 1, 10, 4, 5, 6}

Write a code that sorts this set in asceding order. Print the output, explain the out you got and why.

In [5]:
sets = [{3, 1, 10, 4, 5, 6}]
sets.sort()
print(sets) #.sort() will not work on a set since it is unordered and immutable, so in order to use this function, ww will have to place the set ion a list.

[{1, 3, 4, 5, 6, 10}]

In [38]:
sets = {3, 1, 10, 4, 5, 6}
print(sets) # with this method, printing out a set automatically results in an ascending order of the members of the sets.

{1, 3, 4, 5, 6, 10}

## 14.

- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

Write a code prints out a new set with all items from both sets by removing duplicates

In [30]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.update(set2)
print(set1)

{70, 40, 10, 50, 20, 60, 30}

## 15.

- Create a string that is a long series of words separated by spaces. 
It can be names, cities, animals, anything. Just make it up yourself.
- Turn the string into a list of words using split. 
- Delete two words from the list, but delete each one using a different kind of Python method. 
- Sort the list. 
- Add two new words to the list using two different kinds of Python operation used in adding items to a list. 
- Turn the list of words back into a single string using join. 
- Print the string.

NB: Feel free to use Google to find out other ways to add and remove items from a list

In [39]:
#1 Turning the string into a list of words using split
cities = ("Tokyo Seoul Jeju Island Bali Santorino Lagos Abuja  PH Accra  Kumasi Oslo AddisAbaba Toronto Calgary Victoria Ottawa")
print(cities.split())

['Tokyo', 'Seoul', 'Jeju', 'Island', 'Bali', 'Santorino', 'Lagos', 'Abuja', 'PH', 'Accra', 'Kumasi', 'Oslo', 'AddisAbaba', 'Toronto', 'Calgary', 'Victoria', 'Ottawa']

In [40]:
#2a Delete First Word (Lagos) using list.remove()
cities = ['Tokyo', 'Seoul', 'Jeju', 'Island', 'Bali', 'Santorino', 'Lagos', 'Abuja', 'PH', 'Accra', 'Kumasi', 'Oslo', 'AddisAbaba', 'Toronto', 'Calgary', 'Victoria', 'Ottawa']
cities.remove("Lagos")
print(cities)

['Tokyo', 'Seoul', 'Jeju', 'Island', 'Bali', 'Santorino', 'Abuja', 'PH', 'Accra', 'Kumasi', 'Oslo', 'AddisAbaba', 'Toronto', 'Calgary', 'Victoria', 'Ottawa']

In [41]:
#2b Delete Second Word (Santorino) using list.pop()
cities.pop(5)
print(cities)

['Tokyo', 'Seoul', 'Jeju', 'Island', 'Bali', 'Abuja', 'PH', 'Accra', 'Kumasi', 'Oslo', 'AddisAbaba', 'Toronto', 'Calgary', 'Victoria', 'Ottawa']

In [42]:
#3 Sort List
cities.sort()
print(cities)

['Abuja', 'Accra', 'AddisAbaba', 'Bali', 'Calgary', 'Island', 'Jeju', 'Kumasi', 'Oslo', 'Ottawa', 'PH', 'Seoul', 'Tokyo', 'Toronto', 'Victoria']

In [43]:
#4 Adding to First Word (Busan) list using list.append()
cities.append("Busan")
print(cities)

['Abuja', 'Accra', 'AddisAbaba', 'Bali', 'Calgary', 'Island', 'Jeju', 'Kumasi', 'Oslo', 'Ottawa', 'PH', 'Seoul', 'Tokyo', 'Toronto', 'Victoria', 'Busan']

In [44]:
cities.insert(5, "Grand Bend")
print(cities)

['Abuja', 'Accra', 'AddisAbaba', 'Bali', 'Calgary', 'Grand Bend', 'Island', 'Jeju', 'Kumasi', 'Oslo', 'Ottawa', 'PH', 'Seoul', 'Tokyo', 'Toronto', 'Victoria', 'Busan']

In [45]:
cities_string = ' ' .join(cities)
print(cities_string)

Abuja Accra AddisAbaba Bali Calgary Grand Bend Island Jeju Kumasi Oslo Ottawa PH Seoul Tokyo Toronto Victoria Busan