<a href="https://colab.research.google.com/github/NayloEze/Data-Types-List-and-Sets/blob/main/Python_Loops_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.

A particular zoo determines the price of admission based on the age of the guest.

Guests 2 years of age and less are admitted without charge. Children between 3 and 12 years of age cost $14.00.

Seniors aged 65 years and over cost $18.00.

Admission for all other guests is $23.00.

Create a program that begins by reading the ages of all of the guests in a group from the user, with one age entered on each line. The user will enter a blank line to indicate that there are no more guests in the group. Then your program should display the admission cost for the group with an appropriate message.

The cost should be displayed using two decimal places.

In [2]:
guest = []

while len(guest) < 120:
   age = int(input("Enter age of guest: "))
   guest.append(age)
   print(guest)
   if age > 0 and age <= 2:
     print("$ 0.00")
   elif age >= 3 and age <= 12:
     print("$14.00")
   elif age >= 13 and age <= 64:
     print("$23.00")
   elif age >= 65:
     print("$18.00")
   elif age == 0:
       break
   else: 
       print("No admission")

Enter age of guest: 5
[5]
$14.00
Enter age of guest: 4
[5, 4]
$14.00
Enter age of guest: 76
[5, 4, 76]
$18.00
Enter age of guest: 54
[5, 4, 76, 54]
$23.00
Enter age of guest: 0
[5, 4, 76, 54, 0]

# 2.

A particular retailer is having a 60 percent off sale on a variety of discontinued products. 

The retailer would like to help its customers determine the reduced price of the merchandise by having a printed discount table on the shelf that shows the original prices and the prices after the discount has been applied. 

Write a program that uses a loop to generate this table, showing the original price, the discount amount, and the new price for purchases of $4.95, $9.95, $14.95, $19.95 and $24.95. 

Ensure that the discount amounts and the new prices are rounded to 2 decimal places when they are displayed.

In [25]:
original_prices  = [4.95, 9.95,14.95, 19.95,24.95]

print("Original Prices\t\t\t\tDiscount" "\t\t\t\tNew Price")
for i in original_prices:
 
 discount = i * 0.60 
 new_price = i - (i * 0.60)

 print("%.2f" % (i),"\t\t\t\t %.2f" % ((i / 100) *60 ),"\t\t\t\t %.2f" % (i - ((i / 100) *60)))

Original Prices				Discount				New Price
4.95 				 2.97 				 1.98
9.95 				 5.97 				 3.98
14.95 				 8.97 				 5.98
19.95 				 11.97 				 7.98
24.95 				 14.97 				 9.98

## 3.

lst=[10, 99, 98, 85, 22, 34, 78, 98, 12, 35, 13, 100, 80, 95]

Using while loop, and if statement; iterate through the list and if there is a 100, print it with its index number. i.e.: 

"There is a 100 at index no: 4"

In [26]:
lst = [10, 99, 98, 85, 22, 34, 78, 98, 12, 35, 13, 100, 80, 95]

x = 0

while x < len(lst):
  if lst[x] == 100:
    print("There is a 100 at index no. 4")
  
  else: 
    print ("Not sure ")
  x = x+1

Not sure
Not sure
Not sure
Not sure
Not sure
Not sure
Not sure
Not sure
Not sure
Not sure
Not sure
There is a 100 at index no. 4
Not sure
Not sure

## 4.

Write a python program to read three numbers (a,b,c) and check how many numbers between ‘a’ and ‘b’ are divisible by ‘c’

In [28]:
 a = 40
 b = 60
 c = 5

 for x in range(a,b):
   if x % c == 0:
     print(x)
   else:
    pass

40
45
50
55

## 5.

Create a for loop that prompts the user for a name 3 times, then appends each one to names.

In [29]:
names = []

while len(names) < 3:
  user_input = input("Enter name: ")
  names.append(user_input)
  print(names)

Enter name: Naylo
['Naylo']
Enter name: Cheta
['Naylo', 'Cheta']
Enter name: Ucee
['Naylo', 'Cheta', 'Ucee']

## 6.

Use a loop to print out every character in the string "Python", except the "o"

In [30]:
string_name = ("Python")

for val in string_name:
    if val == "o":
        continue
    print(val)

P
y
t
h
n

## 7. 

Write a program that computes the average of a collection
of values entered by the user. 

The user will enter 0 as a sentinel value to indicate
that no further values will be provided. 

Your program should display an appropriate
error message if the first value entered by the user is 0.

In [31]:
sum = 0
x = 0
data = int(input("Insert Number (0 ends the input):  "))
while data != 0:
    sum = sum + data
    x = x + 1
    data = int(input("Insert Number (0 ends the input):  "))
average = sum / x
print("Average:",average)

Insert Number (0 ends the input):  5
Insert Number (0 ends the input):  5
Insert Number (0 ends the input):  0
Average: 5.0